header {
	padding: 20px; 
	margin: 20px;
	align-items: center;
}

header h1 {
	font-family: 'Didot', serif;
	font-size: 64px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

header nav {
	display: flex;
	justify-content: center;
}

header a {
	color: #000000;
	padding: 0 10px;
	margin: 0;
}
header a:link {
	text-decoration: none;
}

header h1 a:hover {
	text-decoration: none;
	color: #2ab6fc;
}

header a:visited {
	text-decoration: none;
}

div .row img {
	display: flex;
	justify-content: flex-end;
	padding-top: 20px
}
div h2 {
	font-family: 'Palatino', serif;
	font-size: 48px;
	font-weight: 350;
	color: #000000;
	text-align: left;
}

div p {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 20px;
	font-weight: 200px;
	color: #606060;
	text-align: left;
	padding-bottom: 15px;
}

div a:link {
	text-decoration: none;
}

div a:hover {
	text-decoration: none;
}

div a:visited {
	text-decoration: none;
}

div pre {
	display: block;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 1.55;
    color: #000000;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #e5e5e5;
    border: 0px;
    border-radius: 0px;

}

header nav ul a img{
	max-width: 48px;
	max-height: 48px;
}

header nav ul a img:hover {
	max-width: 72px;
	max-height: 72px;
}




